@import url("https://fonts.googleapis.com/css?family=Montserrat");
@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes dropFromTop {
  0% {
    opacity: 0.6;
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
  60% {
    opacity: 0.8;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  80% {
    opacity: 0.9;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes dropFromTop {
  0% {
    opacity: 0.6;
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
  60% {
    opacity: 0.8;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  80% {
    opacity: 0.9;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeInFromSmall {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeInFromSmall {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fadeInFromBig {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeInFromBig {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes slideFromBottomRight {
  0% {
    -webkit-transform: translateX(70vw) translateY(30vh);
            transform: translateX(70vw) translateY(30vh);
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}

@keyframes slideFromBottomRight {
  0% {
    -webkit-transform: translateX(70vw) translateY(30vh);
            transform: translateX(70vw) translateY(30vh);
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}

@-webkit-keyframes smallDrop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes smallDrop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 576px) {
  .hide_on_sm {
    display: none;
  }
}

@media (min-width: 576px) {
  .hide_from_sm {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hide_from_xl {
    display: none !important;
  }
}

.noscroll {
  height: 100% !important;
  overflow-y: hidden !important;
}

::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

@media (max-width: 576px) {
  ::-webkit-scrollbar {
    width: 0;
  }
}

::-webkit-scrollbar-thumb {
  background: #E64415;
  border-radius: 40px;
}

@media (max-width: 576px) {
  ::-webkit-scrollbar-thumb {
    width: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

body, html {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 45px;
  font-weight: 900;
  line-height: 70px;
  margin-bottom: 50px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 22px;
    text-align: center;
    line-height: 35px;
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  h1 {
    font-size: 30px;
    text-align: center;
    line-height: 45px;
    margin-bottom: 50px;
  }
}

.pill_button {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  border-radius: 28px;
  padding: 14px 35px 14px 35px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

@media (max-width: 576px) {
  .pill_button {
    padding: 11px 20px 11px 20px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .pill_button {
    padding: 12px 17.5px 12px 17.5px;
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .pill_button {
    padding: 12px 22.5px 12px 22.5px;
    font-size: 18px;
  }
}

@media (min-width: 1200px) and (max-width: 1900px) {
  .pill_button {
    font-size: 1vw;
    padding: 10px 30px 10px 30px;
  }
}

.pill_button--solid {
  color: #fff;
  background: #E64415;
  border: 2px solid transparent;
}

.pill_button--solid:hover {
  color: #E64415;
  background: #fff;
  border: 2px solid #E64415;
}

.pill_button--light {
  color: #E64415;
  background: #fff;
  border: 2px solid #E64415;
}

.pill_button--light:hover {
  color: #fff;
  background: #E64415;
  border: 2px solid transparent;
}

.gray-text {
  font-size: 16px;
  color: #9E9E9E;
  font-weight: 400;
  line-height: 25px;
}

@media (max-width: 576px) {
  .gray-text {
    text-align: center;
  }
}

.header {
  -webkit-animation: dropFromTop 1s 1;
          animation: dropFromTop 1s 1;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fffffff7;
  z-index: 1;
}

@media (max-width: 576px) {
  .header {
    height: 68px;
  }
}

.header_link, .header .sidebar__toggler {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header_link:hover, .header .sidebar__toggler:hover {
  color: #E64415;
}

.header .sidebar__toggler {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.header .sidebar__toggler .mb0--open {
  -webkit-transform: translateY(5px) rotate(45deg);
          transform: translateY(5px) rotate(45deg);
  width: 25px !important;
}

.header .sidebar__toggler .mb1--open {
  opacity: 0;
}

.header .sidebar__toggler .mb2--open {
  -webkit-transform: translateY(-7px) rotate(-45deg);
          transform: translateY(-7px) rotate(-45deg);
  width: 25px !important;
}

.header .header__rightblock {
  height: 100%;
  padding-right: 5.208333333333334vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__rightblock .header__icon--mobile {
  font-size: 20px;
  margin-right: 5.333333vw;
}

.header .header__rightblock .header__icon--mobile:nth-child(2) {
  margin-right: 0;
}

.header .header__rightblock .header_link {
  margin-right: 20px;
}

@media (min-width: 1200px) and (max-width: 1900px) {
  .header .header__rightblock .header_link {
    font-size: 1vw;
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  .header .header__rightblock .header_link {
    display: none;
  }
}

.header__leftblock {
  height: 100%;
  padding-left: 5.208333333333334vw;
}

.header__leftblock .logo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__leftblock .sidebar__toggler {
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 18px;
  width: 22px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__leftblock .sidebar__toggler .menu-bar {
  position: relative;
  display: block;
  width: 18px;
  height: 2px;
  background-color: #444;
  float: left;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header__leftblock .header__icon--mobile {
  font-size: 20px;
  margin-right: 3vw;
}

.header__leftblock .header__icon--mobile:nth-child(2) {
  margin-right: 0;
}

.header__leftblock .header__location {
  margin-right: 55px;
}

@media (min-width: 576px) and (max-width: 1900px) {
  .header__leftblock .header__location {
    margin-right: 15px;
  }
}

.header__leftblock .header__location .current-city {
  text-decoration: underline;
}

.header__leftblock .header__call {
  text-decoration: none;
}

@media (min-width: 576px) and (max-width: 768px) {
  .header__leftblock .header__call {
    display: none;
  }
}

.header__leftblock .header__logo {
  width: 200px;
  margin-right: 55px;
}

@media (max-width: 576px) {
  .header__leftblock .header__logo {
    width: 38.4vw;
    height: auto;
    margin-left: 16.5333333333vw;
    margin-right: 0;
  }
}

@media (min-width: 576px) and (max-width: 1900px) {
  .header__leftblock .header__logo {
    width: 150px;
    margin-right: 30px;
  }
}

@media (min-width: 1200px) and (max-width: 1900px) {
  .header__leftblock .header_link {
    font-size: 1vw;
  }
}

.sidebar {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 0;
  opacity: 0.7;
  overflow: hidden;
  position: fixed;
  top: 68px;
  height: 100vh;
  padding-top: 40px;
  background: #fff;
}

.sidebar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 20px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.sidebar-links .sidebar__phone {
  font-weight: 900;
  display: none;
}

@media (min-width: 576px) and (max-width: 768px) {
  .sidebar-links .sidebar__phone {
    display: block;
  }
}

.sidebar-links .sidebar__link {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  margin-bottom: 20px;
}

.sidebar-links .sidebar__link:hover {
  color: #E64415;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.sidebar--open {
  width: 100vw;
  z-index: 2;
  opacity: 1;
  background: #fff;
}

.cities-dropdown {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cities-dropdown__content {
  display: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: absolute;
  top: 100%;
  left: -5px;
  height: 1050%;
  overflow-y: scroll;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  opacity: 0;
  padding: 20px;
  padding-right: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media (max-width: 576px) {
  .cities-dropdown__content {
    width: 60vw;
    height: 900%;
  }
}

.cities-dropdown__content .dropdown__content--wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cities-dropdown__content .dropdown__content--wrapper .cities-dropdown__link {
  color: #000 !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 576px) {
  .cities-dropdown__content .dropdown__content--wrapper .cities-dropdown__link {
    font-size: 20px !important;
  }
}

.cities-dropdown__content .dropdown__content--wrapper .cities-dropdown__link:hover {
  color: #E64415 !important;
  text-decoration: none;
}

.cities-dropdown__content .dropdown__content--wrapper::-webkit-scrollbar, .cities-dropdown__content .dropdown__content--wrapper::-webkit-scrollbar-thumb {
  border-radius: 20px;
  width: 5px;
}

.cities-dropdown__content--open {
  -webkit-animation: fadeIn 0.7s 1;
          animation: fadeIn 0.7s 1;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.main {
  margin-top: 200px;
  margin-left: 5.20833vw;
  margin-right: 5.20833vw;
}

@media (max-width: 1200px) {
  .main {
    margin-top: 130px;
  }
}

.main .section {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
}

@media (max-width: 1200px) {
  .main .section {
    padding-top: 50px;
    padding-bottom: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main .section .side__img {
  width: 50vw;
  height: 65vh;
}

@media (max-width: 768px) {
  .main .section .side__img {
    height: unset;
    width: 100vw;
    margin-top: 30px;
    padding-left: 15%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .main .section .side__img {
    width: 70vw;
    height: 65vh;
    padding-left: 11%;
    margin-top: 15;
  }
}

.main .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 576px) {
  .main .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  .main .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.main .intro__leftside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 100px;
  width: 50%;
}

@media (max-width: 1200px) {
  .main .intro__leftside {
    width: 100%;
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .main .intro__leftside .intro__crutch {
    display: none;
  }
}

@media (max-width: 1200px) {
  .main .intro__leftside .intro__crutch {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .main .intro__leftside .intro__crutch .crutch__img {
    width: 80vw;
    margin-bottom: 50px;
    padding-left: 8%;
    -webkit-animation: slideFromBottomRight 1.2s 1;
            animation: slideFromBottomRight 1.2s 1;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .main .intro__leftside .intro__crutch .crutch__img {
    width: 80vw;
    padding-left: 2%;
    -webkit-animation: slideFromBottomRight 1.2s 1;
            animation: slideFromBottomRight 1.2s 1;
    margin-bottom: 50px;
  }
}

@media (max-width: 1200px) {
  .main .intro__leftside .intro__crutch .crutch__btn {
    width: 100%;
    background: #E64415;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
  }
}

.main .intro__leftside .intro__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-animation: smallDrop 1s 1;
          animation: smallDrop 1s 1;
}

.main .intro__leftside .intro__buttons .pill_button:nth-child(1) {
  margin-right: 30px;
}

@media (max-width: 576px) {
  .main .intro__leftside .intro__buttons .pill_button:nth-child(1) {
    margin-right: 0;
  }
}

@media (max-width: 1200px) {
  .main .intro__leftside .intro__buttons {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 50px;
    -webkit-animation: smallDrop 1.1s 1;
            animation: smallDrop 1.1s 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1200px) {
  .main .intro__leftside .intro__jobs-needed {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-animation: smallDrop 0.9s 1;
            animation: smallDrop 0.9s 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .main .intro__leftside .gray-text {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

.main .intro__leftside h1 {
  -webkit-animation: smallDrop 0.5s 1;
          animation: smallDrop 0.5s 1;
}

@media (max-width: 1200px) {
  .main .intro__leftside h1 {
    -webkit-animation: smallDrop 0.5s 1;
            animation: smallDrop 0.5s 1;
    text-align: center;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1900px) {
  .main .intro__leftside h1 {
    font-size: 2.34375vw;
    line-height: 50px;
  }
}

.main .intro__leftside .gray-text {
  margin-bottom: 30px;
  -webkit-animation: smallDrop 0.6s 1;
          animation: smallDrop 0.6s 1;
}

@media (max-width: 576px) {
  .main .intro__leftside .gray-text {
    -webkit-animation: fadeIn 2.5s 1;
            animation: fadeIn 2.5s 1;
  }
}

.main .intro__leftside .intro__jobs-needed {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  -webkit-animation: smallDrop 0.8s 1;
          animation: smallDrop 0.8s 1;
}

@media (max-width: 576px) {
  .main .intro__leftside .intro__jobs-needed {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main .intro__leftside .intro__jobs-needed .mobile__topside, .main .intro__leftside .intro__jobs-needed .mobile__botside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 576px) {
  .main .intro__leftside .intro__jobs-needed .mobile__topside, .main .intro__leftside .intro__jobs-needed .mobile__botside {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.main .intro__leftside .intro__jobs-needed .jobs-needed__text {
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
}

.main .intro__leftside .intro__jobs-needed .jobs-needed__text:nth-child(1) {
  margin-left: 0px;
}

@media (min-width: 576px) and (max-width: 1440px) {
  .main .intro__leftside .intro__jobs-needed .jobs-needed__text {
    margin-left: 7px;
    margin-right: 7px;
    font-size: 16px;
  }
  .main .intro__leftside .intro__jobs-needed .jobs-needed__text:nth-child(1) {
    margin-left: 0px;
  }
}

.main .intro__leftside .intro__jobs-needed a {
  font-size: 18px;
  font-weight: 600;
  color: #E64415;
  text-decoration: none;
}

@media (min-width: 576px) and (max-width: 1440px) {
  .main .intro__leftside .intro__jobs-needed a {
    font-size: 16px;
  }
}

.main .intro__leftside .intro__top-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-animation: fadeIn 2s 1;
          animation: fadeIn 2s 1;
}

@media (max-width: 1200px) {
  .main .intro__leftside .intro__top-slider {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}

.main .intro__leftside .intro__top-slider .top-slider__slider-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.main .intro__leftside .intro__top-slider .top-slider__slider-header .slider-header__text {
  font-size: 18px;
  font-weight: 600;
  color: #9E9E9E;
}

@media (max-width: 768px) {
  .main .intro__leftside .intro__top-slider .top-slider__slider-header .slider-header__arrows {
    display: none;
  }
}

.main .intro__leftside .intro__top-slider .top-slider__slider-header .slider-header__arrows .slider__arrow {
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  color: #9E9E9E;
  cursor: pointer;
}

.main .intro__leftside .intro__top-slider .top-slider__slider-header .slider-header__arrows .slider__arrow:hover {
  color: #E64415;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.main .intro__leftside .intro__top-slider .top-slider__tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

@media (max-width: 576px) {
  .main .intro__leftside .intro__top-slider .top-slider__tiles {
    max-width: 100vw;
    width: 100vw;
  }
}

.main .intro__leftside .intro__top-slider .top-slider__tiles .top-slider__tile {
  border-radius: 3px;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
  .main .intro__leftside .intro__top-slider .top-slider__tiles .top-slider__tile {
    max-width: 55vw;
  }
}

.main .intro__leftside .intro__top-slider .top-slider__tiles .top-slider__tile a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
}

.main .intro__leftside .intro__top-slider .top-slider__tiles .top-slider__tile .tile__city, .main .intro__leftside .intro__top-slider .top-slider__tiles .top-slider__tile .tile__date {
  font-size: 16px;
  font-weight: 400;
  color: #9E9E9E;
}

.main .intro__leftside .intro__top-slider .top-slider__tiles .top-slider__tile .tile__position {
  font-size: 18px;
  font-weight: 600;
  max-width: 8.28125vw;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  .main .intro__leftside .intro__top-slider .top-slider__tiles .top-slider__tile .tile__position {
    max-width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .main .intro__leftside .intro__top-slider .top-slider__tiles .top-slider__tile .tile__position {
    font-size: 16px;
  }
}

.main .intro__rightside {
  width: 50%;
}

@media (max-width: 1200px) {
  .main .intro__rightside {
    display: none;
  }
}

.main .intro__rightside .intro__img {
  -webkit-animation: slideFromBottomRight 1s 1;
          animation: slideFromBottomRight 1s 1;
  width: 42vw;
}

.main .foxtrot-is {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .main .foxtrot-is {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main .foxtrot-is__leftside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 100px;
}

@media (max-width: 1200px) {
  .main .foxtrot-is__leftside {
    margin-right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main .foxtrot-is__leftside .gray-text {
  margin-bottom: 20px;
}

.main .foxtrot-is__leftside .foxtrot-is__visitus-btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 30px;
}

.main .foxtrot-is__rightside {
  position: relative;
}

.main .foxtrot-is__rightside .foxtrot-is__extratext {
  position: absolute;
  font-size: 35px;
  font-weight: 900;
  text-shadow: 20px 10px 20px rgba(247, 127, 72, 0.15);
  color: #E64415;
  left: 40%;
}

@media (max-width: 576px) {
  .main .foxtrot-is__rightside .foxtrot-is__extratext {
    font-size: 18px;
  }
}

.main .opportunities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .opportunities__leftside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 100px;
}

@media (max-width: 1200px) {
  .main .opportunities__leftside {
    margin-right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main .opportunities__leftside .gray-text {
  margin-bottom: 50px;
}

.main .opportunities__leftside .pill_button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.main .opportunities__rightside .opportunities__img {
  width: 50vw;
}

.main .foxtrot-jobs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .foxtrot-jobs__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  .main .foxtrot-jobs__buttons {
    width: 85vw;
  }
}

.main .foxtrot-jobs__buttons .foxtrot-jobs__btn {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  padding: 14px 54px 14px 54px;
  width: 50%;
  border: 2px solid #E64415;
  color: #E64415;
  background: #fff;
  min-width: 2.96875vw;
  text-align: center;
}

@media (max-width: 576px) {
  .main .foxtrot-jobs__buttons .foxtrot-jobs__btn {
    padding: 11px 25px 11px 25px;
  }
}

.main .foxtrot-jobs__buttons .foxtrot-jobs__btn--left {
  border-radius: 33px 0px 0px 33px;
  border-right-width: 0;
}

.main .foxtrot-jobs__buttons .foxtrot-jobs__btn--right {
  border-radius: 0px 33px 33px 0px;
  border-left-width: 0;
}

.main .foxtrot-jobs__buttons .foxtrot-jobs__btn--active {
  background: #E64415;
  color: #fff;
}

.main .foxtrot-jobs__show-all {
  margin-bottom: 60px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  color: #E64415;
}

.main .foxtrot-jobs__professions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

@media (max-width: 576px) {
  .main .foxtrot-jobs__professions {
    max-width: 100vw;
  }
}

.main .foxtrot-jobs__professions .profession-tile {
  margin-left: 50px;
  margin-right: 50px;
}

@media (max-width: 576px) {
  .main .foxtrot-jobs__professions .profession-tile {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    min-width: 0;
    width: 100%;
    position: relative;
  }
}

.main .foxtrot-jobs__professions .profession-tile a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .foxtrot-jobs__professions .profession-tile a .profession-tile__img {
  max-width: 7.63541667vw;
}

@media (max-width: 576px) {
  .main .foxtrot-jobs__professions .profession-tile a .profession-tile__img {
    max-width: 66.666667vw;
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  .main .foxtrot-jobs__professions .profession-tile a .profession-tile__img {
    max-width: 40vw;
  }
}

.main .foxtrot-jobs__professions .profession-tile a .profession-tile__title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 900;
  color: #000;
}

@media (max-width: 576px) {
  .main .foxtrot-jobs__professions .profession-tile a .profession-tile__title {
    font-size: 18px;
    font-weight: 900;
    color: #E64415;
  }
}

.main .foxtrot-jobs__professions .profession-tile a .profession-tile__text {
  font-size: 16px;
  font-weight: 400;
  color: #9E9E9E;
  text-align: center;
}

@media (max-width: 576px) {
  .main .foxtrot-jobs__professions .profession-tile a .profession-tile__text {
    text-align: center;
    height: 110px;
  }
}

.main .work-and-study {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .work-and-study__rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1200px) {
  .main .work-and-study__rightside {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main .work-and-study__rightside .gray-text {
  margin-bottom: 50px;
}

.main .success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .success__frames {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main .success__frames .success-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
}

@media (max-width: 576px) {
  .main .success__frames .success-frame {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.main .success__frames .success-frame .success-frame__rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 576px) {
  .main .success__frames .success-frame .success-frame__rightside {
    margin-bottom: 0px;
  }
}

.main .success__frames .success-frame .success-frame__rightside .success-frame__name {
  color: #E64415;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
}

.main .success__frames .success-frame .success-frame__rightside .success-frame__age {
  font-size: 16px;
  font-weight: 400;
  color: #9E9E9E;
  margin-bottom: 20px;
}

.main .success__frames .success-frame .success-frame__rightside .success-frame__occupation {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 15px;
}

.main .success__frames .success-frame .success-frame__rightside .success-frame__text {
  color: #9E9E9E;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;
}

@media (max-width: 576px) {
  .main .success__frames .success-frame .success-frame__rightside .success-frame__text {
    text-align: center;
    height: 110px;
  }
}

.main .success__frames .success-frame .success-frame__rightside .pill_button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media (max-width: 576px) {
  .main .success__frames .success-frame .success-frame__rightside {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .main .success__frames .success-frame .success-frame__leftside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .bottom .call-to-action {
  color: #E64415;
}

@media (max-width: 576px) {
  .main .bottom .call-to-action {
    margin-bottom: 20px;
  }
}

.main .bottom .bottom__img {
  width: 30vw;
  margin-top: 100px;
}

@media (max-width: 1200px) {
  .main .bottom .bottom__img {
    width: 90vw;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  width: 10.4166666667vw;
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  .footer__logo {
    width: 41.333vw;
  }
}

.footer__links {
  margin: 50px;
}

@media (max-width: 576px) {
  .footer__links {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 90px;
  }
}

.footer__links .footer__link {
  text-decoration: underline;
  color: #E64415;
  font-size: 16px;
  font-weight: 600;
  margin-left: 25px;
  margin-right: 25px;
}

@media (max-width: 576px) {
  .footer__links .footer__link {
    margin-left: 5px;
    margin-right: 5px;
  }
}
/*# sourceMappingURL=styles.css.map */